# Ignore virtual env folder#
###################
**/*venv*/**

# Ignore archived version of notebooks and python stuffs #
###################
*.ipynb_checkpoints
__pycache__

# Ignore some data files #
###################
data/0_exported_raw_data/**

# Ignore local windows batch files #
###################
*.bat